# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.log
*.sqlite3

# Virtual environments
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid

# Environment files
.env